*{
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}
body{
    font-family: Inter;
    background-color: black;
    font-size: 16px;
}
.todo-app{
    display: flex;
    flex-direction: column;
    background-color: #0A1335;
    max-width: 600px;
    margin: auto;
    padding: 1.25rem 1.25rem;
    border-radius: 50px;
    position: relative;
    height: 700px;
    height: 90vh;
    background-image: linear-gradient(to top right, #18318a, #101f55, #18318a);
}
.no-task-text{
    color: white;
    text-align: center;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .todo-app{
        border-radius: 50px;
    }
}